---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import Hero from '../components/Hero.astro';
import { FeatureList } from '../components/features/FeatureList';
---

<Layout title="Ghost++ - Warcraft III Hosting Platform">
  <main class="min-h-screen bg-neutral-50">
    <Navbar />
    <Hero />
    <FeatureList />
  </main>
</Layout>
