body {
    color: #333;
    font: 13px/20px "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
    background: #F9FAFB url(../img/back.png) 0 0 repeat-x
}
.shortcuts {
    text-align: right;
    line-height: 16px;
    padding: 3px 0;
    background: #1F4E73;
    border-bottom: 1px solid #f1f1f1;
}
.shortcuts a {
    color: #f1f1f1;
    font-size: 11px;
    margin: 5px;
    padding: 0 7px;
    text-decoration: none;
    text-transform: lowercase;
}
.branding {
    margin: 20px 0;
}
.branding #logo {
    /*position: absolute;*/
    display: block;
    /*left: 0;*/
    /*bottom: 0;*/
    /*top: 20px;*/
    height: 88px;
    width: 960px;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}
.branding nav.primary {
    margin-top: 16px;
    float: right;
}
.branding nav.primary ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.branding nav.primary li {
    float: left;
}
.branding nav.primary li a {
    float: left;
    /*color: #0a4676;*/
    /*padding: 2px 9px;*/
    /*margin: 5px;*/
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*font-size: 13px;*/

    border: 1px solid transparent;
    border-radius: 3px;

    color: #0A4676;
    padding: 0 15px;
    margin: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.branding nav.primary li.active a,
.branding nav.primary li a.active,
.branding nav.primary li a:hover {
    border: 1px solid #1f4e73;
    color: #FEFEFE;
    background: #1a527e url(../img/bg-navigation.png) center center repeat-x;
}
.main {
    min-height: 300px;
    padding-top: 18px;
    background: #F9FAFB;
    border-top: 1px solid #E3E3E3;
}
.page-content h1 {
    font-weight: bold;
    margin-bottom: 18px;
}
