
.masthead {
    margin-top: -20px;
    padding: 40px 0 20px;
    background: #1A4261;
    border-top: 1px solid #BFD9EE;
    border-bottom: 1px solid #BFD9EE;
}

.masthead .lead {
    font-size: 30px;
    color: #EFF6FB;
}

.masthead .btn {
    width: auto;
}

.masthead .center {
    text-align: center;
}

.site-index {
    padding-top: 20px;
}