.download-row {
    height: 300px;
    margin-bottom:10px;
    padding-bottom:10px;
    text-align: center;
}
.download-row .logo {
    display: block;
    width:210px;
    height:132px;
    text-align: left;

    background:transparent url(../img/ghosts.png) 0 0 no-repeat;
}

.download-row .logo h3 {
    text-indent: -9999px;
    font: 0/0 px;
    margin: 0;
}

.download-row.ghostplusplus .logo { background-position: 0 0; }
.download-row.gproxyplusplus .logo { background-position: 0 -134px; }
.download-row.pyghost .logo { background-position: 0 -268px; }
.download-row.ghostcb .logo { background-position: 0 -402px; }
.download-row.brtghost .logo { background-position: 0 -670px; }


.download-row .version {
    margin-top: -15px;
    text-align: center;
    color: #7A7A7A;
}

.download-row .btn {
    text-align: center;
}

.download-row .description {
    padding:10px 0 10px 30px;
}