h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
}
h1 {
  color: #2A5877;
}
h1 a {
  color: #2A5877;
}

pre {
    border-color: #292929;
    background: #111;
    color: #FAFAFA;
}

em {
    color: #666
}

.page-content dl dt
{
    font-size: 1.1rem;
    font-weight: 800;
}

.page-content dl dd
{
    font-style: italic;
    color: #666;
}

.page-content dl dt { }
.page-content dl dd,
.page-content dl dl
{
    margin-left: 20px;
    margin-bottom: 10px;
}

.page-content ul li { list-style: url(../img/arrow.gif) }

.btn-outline {
    color: #1F4E73;
    background-color: transparent;
    border-color: #1F4E73
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #1F4E73;
    border-color: #1F4E73
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3
}

.btn-outline-inverse:hover,.btn-outline-inverse:focus,.btn-outline-inverse:active {
    color: #1F4E73;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff
}